---
import Layout from "../components/Layout.astro";


---

<Layout lang="es" title="Astro about">
    <h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus illo quod voluptatibus debitis nam! Itaque, quis tempora eos ipsa odio vel accusantium odit natus alias iusto! Tempore placeat fugiat minima.</p>
</Layout>