---
 import Card from "../components/Card.astro"
import Layout from "../components/Layout.astro"
 ---
 

<Layout lang="es" title="Astro">
	
	<h1>Hola mundo</h1>
	<Card title="hola" text="lorem"></Card>
	<Card title="hola" text="lorem"></Card>
	<Card title="hola" text="lorem"></Card>
	<Card title="hola" text="lorem"></Card>

	

    
	</Layout>
