---
const { lang, title } = Astro.props;
---

<!-- DOCTYPE html-->
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>
    
    <main class="container">
      <slot />
    </main>

    <footer>
      <p>footer 2024</p>
    </footer>
    <script>
      import "../script/main.js";
    </script>
  </body>
</html>
