
---
const {lang,title} =Astro.props
---
<html lang={lang}>
    <! DOCTYPE html>
    <head>
       <meta charset="utf-8" />
       <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
       <meta name="viewport" content="width=device-width" />
       <meta name="generator" content={Astro.generator} />
       <title>{title}</title>
       </head>
       <body>

           <div class="container">
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/posts">Posts</a>
                <a href="/contact">Contact</a>

              </nav>
            <slot/>
           </div>
           
           
           <script>
               import "../script/main.js"
   
               
              
           </script>
   
       </body>
   </html>